header, footer {
    background-color: grey;
    text-align: center;
    padding: 5px;
}
header {
    margin-bottom: 15px;
}

.main-container {
    background-color: darkblue;
    display: flex;
    padding: 1%;
    flex-direction: column;
    margin-bottom: 15px;
}
.container {
    text-align: center;
    padding: 1%;
    width: auto;
    font-weight: bold;
}
.container1 {
    background-color: violet;
}
.container2 {
    background-color: palevioletred;
}
.container3 {
    background-color: darkred;
}
.container4 {
    background-color: aqua;
}
.container5 {
    background-color: skyblue;
}

@media all and (min-width: 600px) {
    .main-container {
        -webkit-flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container {
        width: 48%;
        flex-grow: 1;
    }
    .container4 {
        order: 1;

    }
}

@media all and (min-width: 800px) {
    .container {
        width: 30%;
    }
    .container4 {
        order: 0;
    }
}

.white-square {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    display: inline-block;
    vertical-align: bottom;
}
.black-square {
    width: 50px;
    height: 50px;
    background-color: black;
    display: inline-block;
    vertical-align: bottom;
}